body{
    font: 13px tahoma;
}

.container{
    background: #eaeaea;
    width: 720px;
    display: block;
    margin: 25px auto;
    padding: 5px;
}

.post-container{
    background: #b3bac2;
    width: 690px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}

.person-container{
    background: #c8d1ff;
    width: 65px;
    height: 65px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #0c0c0c;
    border-radius: 10px;
    padding: 5px;
    float: left;
}

.post-text{
    width: 580px;
    min-height: 70px;
    display: inline-block;
    background: #e7e7e7;
    margin: 5px;
    border: 1px solid #0c0c0c;
    border-radius: 10px;
    padding: 5px;
}

.comment-container{
    display: block;
    background: #e7e7e7;
    width: 590px;
    min-height: 100px;
    margin: 10px 10px 10px 90px;
    border-radius: 10px;
    padding: 2px;
}

.comment-text{
    display: block;
    background: #ffffff;
    width: 530px;

    margin: 10px 10px 10px 47px;
    border-radius: 10px;
    padding: 2px;
}

.add-comment-textarea{
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    padding: 5px;
    font: 13px tahoma;
    min-width: 325px;
    height: 75px;
    max-width: 500px;
    resize: none;
    margin-left: 155px;
}

.add-comment-textarea:focus{
    border-color: #b9b9b9;
    outline: none;
}

.input-submit-button{
    background: #ffffff;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px;
    display: block;
    margin-left: 412px;
    width: 80px;
    height: 30px;
}

.input-submit-button:hover{
    border-color: #b9b9b9;
    background: #eaeaea;
}

